* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: cronos-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}

body {
  background-color: white;
}
/* navigation Bar */
.header {
  padding: 7px;
  background-color: #c5842f;
  color: #ebe3d6;
  position: sticky;
  top: 0;
  display: flex;
}
/* Logo */
#logo {
  width: 100px;
  height: 60px;
  margin-left: 50px;
  display: flex;
}
/* Nav Link */
.header nav {
  padding-top: 20px;
  margin-right: 40px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  flex-direction: row-reverse;
}
/* Lists of content in Nav */
.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/* Colors links Href in Nav */
a {
  color: #ffffff;
  text-decoration: none;
}
/* Animated Logo in Hero */
.alogo {
  height: 600px;
  width: 80%;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ebe3d6;
  font-size: 20px;
  padding-left: 50px;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-size: 18px;
  color: #ebe3d6;
  font-weight: 600;
  padding-left: 50px;
  text-align: center;
}
.card-title {
  text-align: center;
}
/* Paragraph elements*/
p {
  color: black;
  font-size: 16px;
  text-align: center;
}

/* About me section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #5f7669;
  padding: 50px;
}

/* Annie Image */
#annie {
  height: 300px;
  max-width: 300px;
  float: left;
  border-radius: 20px;
  padding-right: 20px;
}
.about h1 {
  font-size: 25px;
  line-height: 80px;
  text-align: center;
}
.about h2 {
  font-size: 18px;
  line-height: 60px;
  text-align: center;
}
.about-me-text {
  font-size: 16px;
  color: #ebe3d6;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
/* NEED TO FIGURE OUT HOW TO HAVE ONE BIG IMAGE, 3 SMALL IMAGE ON THE BOTTOM OF TOP */
.works {
  background-color: #ebe3d6;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 35px;
  padding-bottom: 50px;
}
.works h1 {
  color: #c5842f;
  font-size: 25px;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.works img {
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  scale: 85%;
  /* Uses the height of the viewport */
  height: auto;
  margin: 0 auto;
}
#image1 {
  width: 97%;
  margin-bottom: 5px;
  scale: 93%;
}
/* Footer Contact */
footer {
  background-color: #c5842f;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.contact {
  text-align: right;
  color: #ebe3d6;
  width: 50%;
  padding-top: 2%;
}
.contact-me-text {
  text-align: right;
}
.socialContainer {
  width: 50%;
  padding-top: 3%;
  padding-left: 2%;
}
/* Footer Contact social media icon */
.social {
  width: 100px;
  height: 100px;
  padding: 20px;
  position: relative;
  margin: auto;
}

/* This the Media Query */
/* Tablets  */
@media screen and (max-width: 992px) {
  .socialContainer {
    width: 50%;
    padding-top: 5%;
    padding-left: 2%;
    display: inline-block;
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
  .socialContainer {
    width: 50%;
    padding-top: 7%;
    padding-left: 2%;
    display: inline-block;
  }
}

/* Small smartphones  */
@media screen and (max-width: 576px) {
  .works img {
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40vh;
    margin: 2%;
  }
  .works h1 {
    width: 100%;
  }
  .socialContainer {
    display: flex;
    flex-wrap: nowrap;
  }
}
/* Button for Works Links */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c5852f;
  --bs-btn-border-color: #c5852f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c5852f;
  --bs-btn-hover-border-color: #c5852f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c5852f;
  --bs-btn-active-border-color: #c5852f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #c5852f;
  --bs-btn-disabled-border-color: #c5852f;
}
