* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: cronos-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}

body {
  background-color: white;
}
/* navigation Bar */
.header {
  padding: 10px;
  background-color: #c5842f;
  color: #ebe3d6;
}
/* Logo */
#logo {
  width: 100px;
  height: 60px;
  padding-left: 20px;
}
/* Nav Link */
.header nav {
  padding-top: 20px;
  margin-right: 40px;
  float: right;
  font-size: 18px;
}
/* Lists of content in Nav */
.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/* Colors links Href in Nav */
a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}
/* Animated Logo */
.alogo {
  height: 600px;
  width: 100%;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 20px;
  font-weight: 600;
}
h2 {
  font-size: 18px;
}
