* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: cronos-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}

body {
  background-color: white;
}
/* navigation Bar */
.header {
  padding: 7px;
  background-color: #c5842f;
  color: #ebe3d6;
  position: sticky;
  top: 0;
}
/* Logo */
#logo {
  width: 100px;
  height: 60px;
  margin-left: 50px;
}
/* Nav Link */
.header nav {
  padding-top: 20px;
  margin-right: 40px;
  float: right;
  font-size: 18px;
}
/* Lists of content in Nav */
.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/* Colors links Href in Nav */
a {
  color: #ffffff;
  text-decoration: none;
}
/* Animated Logo in Hero */
.alogo {
  height: 600px;
  width: 80%;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 70px;
}
h1 {
  color: #ebe3d6;
  font-size: 20px;
  padding-left: 50px;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-size: 18px;
  color: #ebe3d6;
  font-weight: 600;
  padding-left: 50px;
  text-align: center;
}
/* Paragraph elements*/
p {
  color: #ebe3d6;
  font-size: 16px;
  text-align: center;
}

/* About me section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #5f7669;
  padding: 50px;
}

/* Annie Image */
#annie {
  height: 300px;
  max-width: 300px;
  float: left;
  border-radius: 10px;
}
/* NEED TO FIGURE OUT HOW TO MAKE IT GO HORIZONTIALLY */
.about h1 {
  font-size: 25px;
}
/* NEED TO FIGURE OUT HOW TO MAKE IT GO HORIZONTIALLY */
.about h2 {
  font-size: 18px;
}
/* NEED TO FIGURE OUT HOW TO MAKE IT GO HORIZONTIALLY */
.about p {
  font-size: 16px;
}
/* NEED TO FIGURE OUT HOW TO HAVE ONE BIG IMAGE, 3 SMALL IMAGE ON THE BOTTOM OF TOP */
.works {
  background-color: #ebe3d6;
  position: relative;
  top: 0;
  left: 0;
}
.works h1 {
  color: #c5842f;
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
}
.works img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  /* Uses the height of the viewport */
  height: 40vh;
  margin: 0 auto;
}
/* Footer Contact */
footer {
  background-color: #c5842f;
  padding: 30px;
}
.contact {
  text-align: right;
}
/* Footer Contact social media icon */
.social {
  width: 300px;
  height: 900px;
  border: 3px solid #5f7669;
  box-sizing: border-box;
}

/* This the Media Query */
/* Tablets - header changes color */
@media screen and (max-width: 992px) {
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
}

/* Small smartphones  */
@media screen and (max-width: 576px) {
}
